
name: Delete workflow runs

#env:
#  REPO_URL: https://github.com/immortalwrt/immortalwrt
#  REPO_BRANCH: openwrt-21.02

on:
  workflow_dispatch:
#  schedule:
#    - cron: 0 */18 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1
